html {
    box-sizing: border-box;
}

h1 {
    margin: 10px;
}

#calculator {
    width: 700px;
    padding: 16px;  
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: lightgray;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#display {
    font-size: 40px;
    text-align: right;
    border: 1px solid;
    border-radius: 10px;
    padding-right: 8px;
    margin: 20px 0px 20px 0px;
    background-color: white;
}

#buttons {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: inline-grid;
    justify-content: space-around;

    /* Apparently makes all the buttons the same size. */
    grid-auto-flow: column;   /* Rows: use grid-auto-flow: row */
    grid-auto-columns: 1fr;   /* Forces all columns to use equal fractional spacing */
    gap: 12px;
    margin-bottom: 12px;
    margin-top: 12px;

}

button {
    border-radius: 10px;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
}

button#ac {
    background-color: darkgray;
    font-weight: bold;
}

button.operator {
    background-color: orange;
}